body{
  z-index:2;
  /*background-image: url("images/wallhaven.jpg");*/
  background-color: #e7cafe;
  background-size: 1500px 1300px;
  color: white;
  font-family: 'Indie Flower', cursive;
}
h1 { font-size: 60px;
}
#headText{
  margin-top:60px; 
  margin-left: 20%;
}

.navbar {
  z-index:1;
  overflow: hidden;
  background-color:#e7cafe;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.menuOptions{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}
#search-bar{
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px; 
  margin-top: 8px;
  margin-left: 35px;
  float: left;
  display: block; 
}
.navbar a{
  background:#c57cff;
  border-radius: 50px;
}
.navbar a:hover {
  background:#d9f1fa;
  color: black;

} 
.userReg{
  float: right;
  display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}
.image
{
    width: 30%;
}
.homeImg{
  background-color: white;
  border: 1px solid #ddd;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 70px;
}
.homeImg, #rotate{
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari 3-8 */
  transform: rotate(20deg);
}
  .container{
    min-height: 100%;
    margin-bottom: -100px;
    padding-bottom: 100px;
  }

#footer {
  background-image: linear-gradient(to right, #cd4ef1, #4727f8);
  height: 100px;
  padding-top: 15px;
  padding-left: 15px;
  text-align: center;
 }
.notification {
  background-color: #D9BFDA;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  right: -1150px;
  top: 100px;
}

.notification:hover {
  background:#d9f1fa;
  color: black;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 30%;
  background: #BC69FD;
  color: white;
}

.search{
  background-color: white;
  height: 50px;
  width: 400px;
  margin-top: 45px;
  left: 50px;
  font-size: 25px;
}
.dropdown-content a
{
  background-color: #BC69FD;
  color: black;
  height: 50px;
  margin-left: -26px;
  min-width: 83px;
  max-width: 200px;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover
{
  background-color: #D9BFDA;
  color: black;
}
