
* {
  box-sizing: border-box;
}
img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.row {
  padding-left: 50px;
  margin-top: 30px; 
}

/* Create two equal columns that sits next to each other */
.column {
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
.item 
{
    background-color: #000000;
    border: none;
    color: #BC69FD;
    display: inline-block;
    font-size: 18px;
    margin: 12px 10px;
    width: 300px;
    height: 300px;
}
.item:hover 
{
    color: white;
    text-shadow: #000 0px 0px 3px;
}