li{
	width: 65%;
	height: 150px;
	background-color: #af4d98;
	list-style: none;
	margin-top: 10px;
	color: #34322F;
	border-radius: 10px;
}
img{
	height: 150px;
}
button{
	background-color: #F86C21;
  	color: white;
  	text-decoration: none;
  	padding: 15px 26px;
  	position: relative;
  	display: inline-block;
  	float: right;
  	border: none;
  	margin-top: 100px;
}
button:hover{
	background: #F1E5DE;
  	color: black;
}