.head{
	width:260px; 
	border: solid 1px #333333; 
	margin-top: 150px;
	margin-left: 500px;
  margin-bottom: 50px;
	background-color: #D9BFDA;  
	float: left;
  position: absolute;
  padding-bottom: 20px;
}
.head1{
	background-color:#BC69FD; 
	color:#FFFFFF; 
	padding:3px;
}
.button{
  background-color: #BC69FD;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    border: none;
    margin-top: 10px;
    margin-left: 0px;
}
.button:hover{
  color: black;
  background: #d9f1fa;
}
 #email, #password,#user_name, #last_name, #first_name, #password-confirm{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
