
.items {
    background-color: #bbb;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 12px 10px;
    cursor: pointer;
    width: 260px;
    height: 260px;
}
.items:hover {
    background-color: #fff;
    color:#10223b;
}
