img{
  height: 500px;
  float: left;
  margin-left: 0px;
  width: 450px;
  object-fit: cover;
}
.imgDef{
  margin-left: 15px;
  float: left;
  font-size: 22px;
}
.item{
  width: 1200px;
  margin-top: 50px;
  margin-left: 100px;
}
.button{
  background-color: #F86C21;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    border: none;
    margin-top: 100px;
    margin-left: 565px;
   float: left;
}
.button:hover{
  color: black;
  background: #F1E5DE;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

